<div class="container-fluid">

    <div class="row bg-dark">
      <div class="container">
        <app-nav-bar></app-nav-bar>
      </div>
    </div>


      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="bg-danger mt-2 p-2 text-center text-white" *ngIf="errorMessage != null">
            Error: {{errorMessage}}
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>






      <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-8">
          <div class="container-sm my-3 p-2 bg-success text-white border rounded">
            <form novalidate #form="ngForm" (ngSubmit)="authenticate(form)">

              <div class="form-row">
                <div class="form-group col-sm-6">
                  <label for="firstname">First Name</label>
                  <input class="form-control" id="firstname" name="firstname" [(ngModel)]="user.firstname" minlength="2" required maxlength="15" #firstname="ngModel" />


                  <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert">
                    <div> First name is required and need to be between 2 to 15 characters. </div>
                  </div>

                </div>
                <div class="form-group col-sm-6">
                  <label for="lastname">Last Name</label>
                  <input class="form-control" id="lastname" name="lastname" [(ngModel)]="user.lastname" minlength="2" maxlength="10" required #lastname="ngModel"/>
                  <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert">
                    <div> Last name is required and need to be between 2 to 10 characters. </div>
                  </div>
                </div>
              </div>



              <div class="form-row">
                <div class="form-group col-sm-6">
                  <label for="username">User Name (Require 5 to 10 characters without space)</label>
                  <input type="text" class="form-control"  id="username" name="username" [(ngModel)]="user.username" minlength="5" maxlength="10" required #username="ngModel" [ngModelOptions]="{ updateOn: 'blur' }" appUniqueUsername />
                  <!-- <app-spinner *ngIf="username.pending"></app-spinner> -->
                  <div *ngIf="(!username.errors?.usernameTaken) && username.invalid && (username.dirty || username.touched)" class="alert">
                    <div> User name is required and need to be between 5 to 10 characters. </div>
                  </div>
                  <div *ngIf="username.errors?.usernameTaken && (username.dirty || username.touched)" class="alert">Username is already taken</div>
                </div>
                 <!--TODO: Password Re-enter field-->
                 <div class="form-group col-sm-6">
                  <label for="email">Email</label>
                  <input email class="form-control" id="email" name="email" [(ngModel)]="user.email" required #email="ngModel" [ngModelOptions]="{ updateOn: 'blur' }" appUniqueUseremail [configValue]="'userEmailCheck'"/>
                  <div *ngIf="(!email.errors?.emailTaken) && email.invalid && (email.dirty || email.touched)" class="alert">
                    <div> Please enter valid email. </div>
                  </div>
                  <div *ngIf="email.errors?.emailTaken && (email.dirty || email.touched)" class="alert">Email is already taken</div>
                </div>
              </div>




              <div class="form-row">
                <div class="form-group col-sm-6">
                  <label for="city">City</label>
                  <input class="form-control" id="city"  name="city" [(ngModel)]="user.city" required minlength="3" maxlength="20" #city="ngModel"/>
                  <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert">
                    <div> City is required and need to be between 3 to 20 characters. </div>
                  </div>
                </div>

                <div class="form-group col-sm-6">
                  <label for="country">Country</label>
                  <input class="form-control" id="country" name="country" [(ngModel)]="user.country" required minlength="3" maxlength="35" #country="ngModel"/>
                  <div *ngIf="country.invalid && (country.dirty || country.touched)" class="alert">
                    <div> Country is required and need to be between 3 to 35 characters. </div>
                  </div>
                </div>
                <div class="form-group col-sm-3">

                </div>

              </div>

              <div class="form-row">
                <div class="form-group col-sm-6">
                  <label for="occupation">Occupation</label>
                  <input class="form-control" id="occupation"  name="occupation" [(ngModel)]="user.occupation" minlength="2" maxlength="35" required #occupation="ngModel"/>
                  <div *ngIf="occupation.invalid && (occupation.dirty || occupation.touched)" class="alert">
                    <div> Occupation is required and need to be between 2 to 35 characters. </div>
                  </div>
                </div>

                <div class="form-group col-sm-6">
                  <label for="gender">Gender</label>
                  <input class="form-control" id="gender" name="gender" [(ngModel)]="user.gender" maxlength="15" required #gender="ngModel"/>
                  <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="alert">
                    <div> Gender is required and can not exceed more than 15 characters. </div>
                  </div>
                </div>
                <div class="form-group col-sm-3">

                </div>

              </div>

              <div class="form-row">
                <div class="form-group col-sm-6">
                  <label for="password">Password (Require 7 to 8 characters without space)</label>
                  <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password"  minlength="7" maxlength="8"  required #password="ngModel"/>
                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
                    <div> Password is required and need to be between 7 to 8 characters. </div>
                  </div>
                </div>
              </div>





              <div class="form-group">
                <div class="form-check">
                  <input type="checkbox" id="ageCheck" name="ageCheck" [(ngModel)]="user.ageAboveEighteen" />
                  <label for="ageCheck"> Please tick the check box if you are above 18 years of age</label>
                </div>
              </div>




              <div class="text-center">
                <button class="btn btn-primary m-1" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>

        <div class="col-sm-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-sm-12 col-md-8">
          <p style="font-style: italic;">* Please note that by providing your information and registering with us, you agreed to our
           <a href="#" (click)="opensTermsDialog($event)">privacy policy and Website/Application terms of use.</a>
          </p>
        </div>
        <div class="col-md-2"></div>
      </div>


  <div class="row">
    <div class="container-fluid">
      <app-footer></app-footer>
    </div>
  </div>

</div>

