<div class="container-fluid">

  <div class="row bg-dark">
    <div class="container">
      <app-nav-bar></app-nav-bar>
    </div>
  </div>

  <div class="container-fluid bg-white">
    <div class="row">
      <div class="col-sm-5">
       <app-gallery></app-gallery>
      </div>
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-3 text-right">Name: </div>
          <div class="col-sm-4">{{product.name}} </div>
          <div class="col-sm-2 text-left"></div>
          <div class="col-sm-3"> </div>
        </div>
        <div class="row">
          <div class="col-sm-12"><p>&nbsp;</p></div>
        </div>
        <div class="row">
          <div class="col-sm-3 text-right">Suitable Audience: </div>
          <div class="col-sm-4">{{product.suitableAudience}}</div>
          <div class="col-sm-2 text-left"></div>
          <div class="col-sm-3"> </div>
        </div>
        <div class="row">
          <div class="col-sm-3 text-right">Features: </div>
          <div class="col-sm-4">{{product.features}}</div>
          <div class="col-sm-2 text-left"></div>
          <div class="col-sm-3"> </div>
        </div>
        <div class="row">
          <div class="col-sm-12"><p>&nbsp;</p></div>
        </div>
        <div class="row">
          <div class="col-sm-3 text-right"> Description: </div>
          <div class="col-sm-9">
            <h3>{{product.description}} </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 text-right"> Seller Link: </div>
          <div class="col-sm-9">
            <p>{{product.sellerLink}} </p>
          </div>
        </div>
        <div *ngIf="getWindowInnerWidth() > 780px" class="row">
          <div class="col-sm-4 col-md-3 text-right">
          </div>
          <div class="col-sm-8 col-md-9">
            <a routerLink="/store" class="btn btn-primary">Go Back</a>
          </div>
        </div>
        <div *ngIf="getWindowInnerWidth() < 780px" class="row">
          <div class="col-sm-4 text-right">
          </div>
          <div class="col-sm-8">
            <a routerLink="/store" class="btn btn-primary">Go Back</a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12"><p>&nbsp;</p></div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p>*Please note that once purchased you may not be able to return some of the items due to hygiene, health and safety reasons.
              Please read our return policy here.
            </p>
          </div>
        </div>


    </div>
  </div>

  <div class="row">
    <div class="container-fluid">
       <app-footer></app-footer>
    </div>
  </div>

</div>

