.moveRight {
  float: right;
}



.card img {
  height: 200px;
}


.card:hover {

  cursor: pointer;
}


.fullWidth {
  width: 100%;
}


.main-content .card:hover {
  box-shadow: .25em .25em .5em .5em rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.secondary-content .card:hover {
  box-shadow: .25em .25em .5em .5em rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/*
  @media only screen and  (max-height: 700px){
    #main-container {
      height: 700px;
  }
}

@media only screen and  (min-height: 700px){
  #main-container {
    height: calc(100vh);
  }
}

@media only screen and  (min-height: 500px){
  #main-container {
    height: calc(100vh - 200px);
  }
} */

