<!-- Footer -->

<footer class="customFooter">

  <div class="row">
    <div class="col-4 p-2">
      <a class="nav-link" routerLink="/aboutUs">AboutUs</a>
      <a href="#" (click)="opensTermsDialog($event)">Privacy Policy</a><br>
      <a href="#" (click)="opensTermsDialog($event)">Terms and Conditions</a>

    </div>
    <div class="col-4 p-2">
      <!-- Copyright -->
      <div>© 2022 Copyright: Shopping District
      </div>
      <!-- Copyright -->
    </div>
    <div class="col-4 p-2"><a routerLink="/admin">Lecturer Login</a></div>
  </div>


</footer>

<!-- Footer -->
