<div class="container-fluid">
  <div  class="row" id="main-container" [style.height]="getOptimalMainContainerHeight()">
    <div class="col-1"></div>
    <div class="col-10">
      <table class="table table-sm">
        <thead>
          <tr><th>User Details</th> <th>  <button class="btn btn-sm btn-warning m-1" [routerLink]="['/myaccount/main/userdetails/edit',getUserDetails().id]">
            Edit
          </button></th></tr>
        </thead>
        <tbody>

            <tr>
              <td>
                First Name: <br>
                User Name: <br>
                User Email: <br>
                Occupation: <br>
              </td>

              <td>
                {{getUserDetails().firstname }} <br>
                {{getUserDetails().username }} <br>
                {{getUserDetails().email }} <br>
                {{getUserDetails().occupation }} <br>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="col-1"></div>
  </div>
</div>
