<div class="container-fluid">

  <!--
  <div class="row" id="main-container" [style.height]="getOptimalMainContainerHeight()">
    <div *ngIf="getWindowInnerWidth() > 780px" class="col-md-2">

    </div>-->


 <!-- This is for wider screen like laptop phone-->
  <div  class="row" id="main-container">

    <div class="col-sm-12 col-md-12">

      <div class="row main-question">


              <div class="card-body bg-success text-white border rounded">

                <div class="row" *ngIf="!complete">
                  <div class="col-sm-4 col-md-4">
                    <h2 class="text-purple">Questions {{questionNum+1}}/{{questions.length}} </h2>
                  </div>
                  <div class="col-sm-4 col-md-4">

                  </div>

                  <div class="col-sm-4 col-md-4">
                    <button class="btn btn-primary m-1" (click)="saveProgress()">Save Progress</button>
                    <button class="btn btn-warning m-1" (click)="exit()">Exit</button>
                  </div>
                </div>
                <div class="row">
                  <p class="text-warn" *ngIf="errorMessage != null">
                    {{errorMessage}}
                  </p>
                  <p class="text-warn" *ngIf="successMessage != null">
                    {{successMessage}}
                  </p>
                </div>
                <div class="row" *ngIf="!complete">
                    <h2>{{questions[questionNum]?.content}}</h2>
                </div>
                <div class="row" *ngIf="complete">
                  <div class="col-sm-2 col-md-2"></div>
                  <div class="col-sm-8 col-md-8">
                    <p> <i class="fa fa-clipboard-check"></i> You have successfully completed this exercise. Well done <i class="fa fa-thumbs-up"></i></p>
                  </div>
                  <div class="col-sm-2 col-md-2"></div>
                </div>
                <ng-template ngFor let-questionOption [ngForOf]="questions[questionNum]?.options" *ngIf="!complete">
                  <div class="row">
                    <label>
                      {{ questionOption.content }}
                      <input  type="radio"
                             name="option"
                             [value]="questionOption.content"
                             [(ngModel)]="selectedOption">
                    </label>
                  </div>

                </ng-template>
                <div class="row" *ngIf="explanation != null" >
                  <p class="text-purple">Correct:{{explanation}}</p>
                </div>
                <div class="row" *ngIf="!complete">
                  <div class="col-sm-6 col-md-8">
                    <button class="btn btn-primary m-1" (click)="previous()">Previous</button>
                    <button class="btn btn-primary m-1" *ngIf="explanation == null" (click)="checkAnswer()">Check Answer</button>
                    <button class="btn btn-warning m-1" *ngIf="explanation == null" (click)="skip()">Skip</button>
                  </div>
                  <div class="col-sm-5 col-md-2">
                    <button class="btn btn-primary m-1" *ngIf="explanation != null" (click)="next()">Next</button>
                  </div>
                  <div class="col-sm-1 col-md-2">
                  </div>
                </div>
                <div class="row" *ngIf="complete">
                  <div class="col-sm-4 col-md-4"></div>
                  <div class="col-sm-8 col-md-8">
                    <button *ngIf="this.correctQuestions.length > 0" class="btn btn-primary m-1" (click)="saveAndExit()">Save Progress And Exit</button>
                    <button class="btn btn-primary m-1" (click)="exit()">Exit</button>
                  </div>

                </div>
              </div>
              <div *ngIf="!complete" class="fullWidth">
                <p> <i class="fa fa-bullhorn"></i> Please save your progress before exiting from this exercise.</p>
              </div>
              <div>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <p><i class="fa fa-info-circle"></i> Suggested Articles To Read</p>
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>Reading following articles can help you answer some of the questions from this exercise.</p>
                  <ul>
                    <li *ngFor="let article of articles">
                      <a (click)="navigateToArticleDetail(article.id)" class="text-purple">{{ article.title }}</a>
                    </li>
                  </ul>
                  <p *ngIf="articles.length <= 0">Sorry there is no suggested articles for this exercise.</p>

                </mat-expansion-panel>
              </div>




     </div>

    </div>

  </div>
</div>
