<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>ID</th><th>Title</th><th>Publish</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let a of getArticles()">
      <td>{{a.id}}</td>
      <td>{{a.title}}</td>
      <td>{{a.publish}}</td>
      <td>
        <button class="btn btn-sm btn-warning m-1" [routerLink]="['/admin/main/articles/edit',a.id]">
          Edit
        </button>
      </td>
    </tr>
  </tbody>
  <button class="btn btn-primary" routerLink="/admin/main/articles/create">
    Create New Article
  </button>

</table>
