<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a class="navbar-brand"> Tech District Admin Login</a>
    </div>
  </div>
  <div class="row" id="main-container" [style.height]="getOptimalMainContainerHeight()">
    <div class="col-md-2">

    </div>
    <div class="col-md-8 col-sm-12">
      <div class="text-center mt-5 border border-info bg-success text-white border rounded p-5 border-shadow">
        <h3> Please continue to login page, to access Lecturer panel.</h3>
        <button class="btn btn-secondary m-2" routerLink="/">Go back</button>
        <button class="btn btn-primary m-2" (click)="login()">Continue</button>
        <br/><br/>
        <h3>Interested in sharing your tech knowledge through our platfrom? Please contact  <span style="color: blue;">nanobittechnology@gmail.com</span></h3>
      </div>
    </div>
    <div class="col-md-2">

    </div>

  </div>
</div>
