<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a class="navbar-brand"> Shopping District Admin Login</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8 col-sm-12">
      <div class="text-center mt-5 border border-info bg-success text-white border rounded p-5 border-shadow">
        <h3> Please continue to login page, to access admin panel.</h3>
        <button class="btn btn-secondary m-2" routerLink="/">Go back</button>
        <button class="btn btn-primary m-2" (click)="login()">Log In</button>
      </div>
    </div>
    <div class="col-md-2">

    </div>

  </div>
</div>
