<div class="container-fluid">

  <div class="row bg-dark">
    <div class="container">
      <app-nav-bar></app-nav-bar>
    </div>
  </div>

  <div class="container-fluid bg-white">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 col-sm-12">
        <h1>{{article.title}}</h1>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 col-sm-12">
        <p>{{article.introduction}}</p>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-sm-4 col-md-3">
        <figure>
          <img src="{{article?.images[0]?.location}}" height="300px" width="300px" />
          <figcaption> Image One</figcaption>
        </figure>
      </div>
      <div class="col-sm-8 col-md-5">{{article.firstParagraph}}</div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-sm-7 col-md-5">{{article.secondParagraph}}</div>
      <div class="col-sm-4 col-md-3">
        <figure>
          <img src="{{article?.images[1]?.location}}" height="300px" width="300px" />
          <figcaption>Image Two</figcaption>
        </figure>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-sm-12 col-md-8">{{article.conclusion}}</div>
      <div class="col-md-2"></div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-sm-12 col-md-8">

        <div class="bg-danger mt-2 p-2 text-center text-white" *ngIf="errorMessage != null">
          Error: {{errorMessage}}
        </div>

          <div class="container-sm my-3 p-2 bg-success text-white border rounded">

            <span *ngIf="user.email">
              <form novalidate #form="ngForm" (ngSubmit)="postComment(form)">
                <div class="form-row">
                  <div class="form-group col-sm-6">
                    <label for="comment">You can post your comment here. Please be respectful.</label>
                    <textarea class="form-control" id="description" name="description" [(ngModel)]="comment.description"
                      required minlength="10" maxlength="140" required #description="ngModel"></textarea>

                  </div>
                  <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert">
                    <div> Comment is required to have minimum 10 and maximum 140 words. </div>
                  </div>

                </div>

                <div class="text-center">
                  <button class="btn btn-primary m-1" type="submit">Post</button>
                </div>
              </form>
            </span>

            <span *ngIf="!user.email">
              <div class="row">
                <div class="col-sm-12">
                  <p>To post comments please login to your account or register with us if you don't have one.</p>
                </div>
                <div class="col-sm-3">
                  <a class="nav-link text-white"  style="cursor: pointer;" (click)="navigateToMyAccountLogin()">MyAccount</a>
                </div>
                <div class="col-sm-3">
                  <a class="nav-link text-white" routerLink="/registration">Registration</a>
                </div>
                <div class="col-sm-3">

                </div>
              </div>
            </span>

          </div>

        <table class="table table-sm">
          <thead>
            <tr>
              <th><p style="font-size: 24px;">Comments</p></th>
            </tr>
          </thead>
          <tbody>

            <tr *ngIf="article.comments.length == 0">
              <td colspan="5">There are no comments</td>
            </tr>

            <ng-template ngFor let-c [ngForOf]="article.comments">
              <tr>
                <td>{{c.description }} --{{c.user?.email}}</td>
                <span *ngIf="user.email">
                  <td>
                    <span *ngIf="user.id == c.user.id">
                      <i class="fas fa-pencil-alt hover-pointer" aria-hidden="true" (click)="openDialog(c.id, 0,'edit')"></i> |
                    </span>
                    <i class="fas fa-reply hover-pointer" aria-hidden="true" (click)="openDialog(c.id, 0,'reply')"></i>
                  </td>
                </span>
                <td>
                  <i class="fas fa-plus hover-pointer" aria-hidden="true" (click)="getRepliesByArticleAndCommentId(article.id,c.id)"> Replies... </i>
                </td>
              </tr>
              <span *ngIf="showRepliesOfComment == c.id && replyExist">
               <ng-template ngFor let-r [ngForOf]="replies">
                <tr>
                  <td><p class="text-primary"> {{r.description}} --{{r.user?.email}}
                    <span *ngIf="user.id == r.user.id">
                      <i class="fas fa-pencil-alt hover-pointer" aria-hidden="true" (click)="openDialog(c.id, r.id, 'edit')"></i>
                   </span> </p>
                </td>
                </tr>
              </ng-template>
              </span>
              <span *ngIf="showRepliesOfComment == c.id && !replyExist">

                 <tr>
                   <td>  <p class="text-primary"> There is no reply for this comment yet. </td>
                 </tr>

               </span>
              <!-- <tr *ngFor="let line of o.cart.lines">
              <td></td>
              <td></td>
              <td></td>
              <td>{{line.product.name}}</td>
              <td>{{line.itemCount}}</td>
              <td>{{line.linePrice}}</td>
            </tr> -->
            </ng-template>
          </tbody>
        </table>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

  <div class="row">
    <div class="container-fluid">
      <app-footer></app-footer>
    </div>
  </div>

</div>
