<div class="container-fluid">

  <!--
  <div class="row" id="main-container" [style.height]="getOptimalMainContainerHeight()">
    <div *ngIf="getWindowInnerWidth() > 780px" class="col-md-2">

    </div>-->
  <!-- This is for wider screen like laptop phone-->
  <div class="row">
    <div class="col-md-6">
     <h2> Subject: {{subCategory}}</h2> <h2> Level:{{skillLevel}}</h2>
    </div>
    <div class="col-md-3">
      &nbsp;&nbsp;&nbsp;
    </div>
    <div class="col-md-3 text-left">
      <label for="skillSet">Choose Level: </label>
      <select class="from-control" [value]="skillLevel" id="skillSet" (change)="getSubjectBySubCaterogyLevel($event.target.value, subCategory)">
        <option value={{getSkillLevelValue(localSkillLevel.Beginner)}}> {{localSkillLevel.Beginner}}</option>
        <option value={{getSkillLevelValue(localSkillLevel.Intermediate)}}> {{localSkillLevel.Intermediate}}</option>
        <option value={{getSkillLevelValue(localSkillLevel.Advanced)}}> {{localSkillLevel.Advanced}}</option>
      </select>
    </div>

  </div>

  <div class="row main-subject">
    <div *ngIf="errorMessage != null">{{errorMessage}}</div>
    <ng-template ngFor let-subject [ngForOf]="subjectList">
      <div class="col-md-4 col-sm-12 p-1">
        <div class="card m-1 p-1 bg-light">
          <!--  <img class="card-img-top" src="{{article.images[0].location}}{{article.images[0].name}}" alt="Card image cap">-->
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-sm-8">
                    <h5 class="card-title">Title: {{subject?.title}}</h5>
                  </div>
                  <div class="col-sm-4">

                    <i *ngIf="subject?.premium  && (!isAdminUser()&&!isPremiumUser())" class="fa fa-lock"></i>
                    <i  *ngIf="subject?.premium && (isAdminUser() || isPremiumUser())" class="fa fa-lock-open"></i>
                  </div>
                </div>

              </div>
              <div class="col-md-12">
                <h5 class="card-title">Level: {{subject?.level}}</h5>
              </div>
              <div class="col-md-12">
                <h5 class="card-title">Premium: {{subject?.premium ? 'Yes' : 'No'}}</h5>
              </div>
              <div class="col-md-12">
                <h5 class="card-title">Author: {{subject?.user?.username}}</h5>
              </div>
              <div class="col-md-12">
                <ng-template ngFor let-userSub [ngForOf]="userSubjects">
                  <div *ngIf="userSub.subject.id === subject.id">
                    <div *ngIf="!userSub.completed">
                      Your Progress: <mat-progress-bar value="40"></mat-progress-bar>
                    </div>
                    <div *ngIf="userSub.completed">
                      You have completed <i class="fa fa-check"></i>
                    </div>

                  </div>
                </ng-template>
              </div>


            </div>
            <div class="row">
              <div><br /></div>
              <div class="col-md-12">
                  <a  *ngIf="subject?.premium  && (!isAdminUser()&&!isPremiumUser())"  class="btn btn-primary" (click)="navigateToPayment()"> Unlock Now...</a>
                  <a  *ngIf="!subject?.premium"  class="btn btn-primary" (click)="navigateToQuestionDetail(subject.id, subject.level, subject.premium)"> Practice Now...</a>
                  <a  *ngIf="subject?.premium && (isAdminUser() || isPremiumUser())" class="btn btn-primary" (click)="navigateToQuestionDetail(subject.id, subject.level, subject.premium)"> Practice Now...</a>
                </div>
            </div>
          </div>

        </div>
      </div>
    </ng-template>

  </div>




</div>
