<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a class="navbar-brand"> Shopping District Customer Login</a>
    </div>
  </div>
  <!-- <div class="bg-danger mt-2 p-2 text-center text-white" *ngIf="errorMessage != null">
    {{errorMessage}}
  </div> -->
  <div class="row">
    <div class="bg-success mt-2 p-2 text-center text-white" *ngIf="userCreationSuccess===true">
      Your account has been successfully created. Please login to your account or continue shopping.
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8 col-sm-12">
      <div class="text-center mt-5 border border-info bg-success text-white border rounded p-5 border-shadow">
        <h3> Please continue to login page, to access your details.</h3>
        <button class="btn btn-secondary m-2" routerLink="/">Go back</button>
        <button class="btn btn-primary m-2" (click)="login()">Log In</button>
      </div>
    </div>
    <div class="col-md-2">

    </div>

  </div>


</div>
