<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a class="navbar-brand"> Tech District Customer Login</a>
    </div>
  </div>
  <!-- <div class="bg-danger mt-2 p-2 text-center text-white" *ngIf="errorMessage != null">
    {{errorMessage}}
  </div> -->
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8 col-sm-12">
      <div class="bg-success mt-2 p-2 text-center text-white" *ngIf="userCreationSuccess===true">
        Great! Almost there. We have sent the link to your email for verification. Please check your email inbox, including spam and junk folders.
        Once you have verified your email you can start logging in to your account and post comments on articles.
      </div>
    </div>
    <div class="col-md-2">

    </div>

  </div>

  <div class="row" id="main-container" [style.height]="getOptimalMainContainerHeight()">
    <div class="col-md-2">

    </div>
    <div class="col-md-8 col-sm-12">
      <div class="text-center mt-5 border border-info bg-success text-white border rounded p-5 border-shadow">
        <h3> Please continue to Login page or go back to Home page.</h3>
        <button class="btn btn-secondary m-2" routerLink="/">Home</button>
        <button class="btn btn-primary m-2" (click)="login()">Continue</button>
      </div>
    </div>
    <div class="col-md-2">

    </div>

  </div>

  <div class="row">
    <div class="container-fluid">
      <app-footer></app-footer>
    </div>
  </div>
</div>
