<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a class="navbar-brand"> Tech District Customer Login</a>
    </div>
  </div>
  <!-- <div class="bg-danger mt-2 p-2 text-center text-white" *ngIf="errorMessage != null">
    {{errorMessage}}
  </div> -->
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8 col-sm-12">
      <div class="bg-success mt-2 p-2 text-center text-white" *ngIf="userCreationSuccess===true">
        Great! Almost there. We have sent the link to your email for verification. Please check your email inbox, including spam and junk folders.
        Once you have verified your email you can start logging in to your account, practice exercises, post comments on articles and much more...
      </div>
    </div>
    <div class="col-md-2">

    </div>

  </div>

  <div class="row" id="main-container" [style.height]="getOptimalMainContainerHeight()">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8 col-sm-12">
      <div class="text-center mt-5 border border-info bg-success text-white border rounded p-5 border-shadow" *ngIf="userCreationSuccess===false">
        <h3> Redirecting to login page. Please wait a moment...</h3>
      </div>
    </div>
    <div class="col-lg-2">

    </div>

  </div>

  <div class="row">
    <div class="container-fluid">
      <app-footer></app-footer>
    </div>
  </div>
</div>
