<div class="container-fluid">
  <div class="row bg-dark">
    <div class="container">
      <app-nav-bar></app-nav-bar>
    </div>
  </div>

  <div class="row">
    <div class="col bg-dard text-white">
      <a class="navbar-brand"> JEWELLERY STORE</a>
    </div>

  </div>



  <div class="row">

    <div class="col-md-3 bg-warning">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12">
            <mat-card>
              <div mat-card-avatar style="background-image: url('../../../assets/author_image.JPG');"
                class="round-header-image">
              </div>
              <mat-card-content>
                <p>
                  {{userDetail.username}}
                </p>

              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-card>
              <mat-card-content>
                <h3>Profile Completion</h3>
                <div class="row">
                  <div class="col-7 col-sm-7 col-md-7">
                    <div class="mb-2"></div>
                    <mat-progress-bar mode="determinate" [value]="progressBarValue"></mat-progress-bar>
                  </div>
                  <div class="col-5 col-sm-5 col-md-5">
                    <p>{{progressBarValue}}</p>
                  </div>
                </div>

                <button class="btn btn-outline-info btn-block" routerLink="/myaccount/main/userdetails"
                  routerLinkActive="active">My Details</button>
                <button disabled class="btn btn-outline-info btn-block">Privacy Settings-Will be available in next
                  release:)</button>

                <button class="btn btn-outline-info btn-block" (click)="manageBilling()">Manage Billing</button>
              </mat-card-content>

            </mat-card>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-7 bg-success">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="flex-container">
              <a (click)="setSubCategory(subCategoryEnum.Java)" [ngClass]="{'selected': selectedSubCategory === subCategoryEnum.Java}">
                <mat-card class="subject-card">
                  <mat-icon>exposure</mat-icon>
                  <mat-card-content>
                    <p style="text-align: center;"> Java</p>
                  </mat-card-content>
                </mat-card>
              </a>
              <a (click)="setSubCategory(subCategoryEnum.JavaScript)" [ngClass]="{'selected': selectedSubCategory === subCategoryEnum.JavaScript}">
                <mat-card class="subject-card">
                  <mat-icon>exposure</mat-icon>
                  <mat-card-content>
                    <p style="text-align: center;"> JavaScript</p>
                  </mat-card-content>
                </mat-card>
              </a>
           <a (click)="setSubCategory(subCategoryEnum.HTML_CSS)" [ngClass]="{'selected': selectedSubCategory === subCategoryEnum.HTML_CSS}">
                <mat-card class="subject-card">
                  <mat-icon>exposure</mat-icon>
                  <mat-card-content>
                    <p style="text-align: center;"> HTML/CSS</p>
                  </mat-card-content>
                </mat-card>
              </a>
              <a (click)="setSubCategory(subCategoryEnum.Machine_Learning)" [ngClass]="{'selected': selectedSubCategory === subCategoryEnum.Machine_Learning}">
                <mat-card class="subject-card">
                  <mat-icon>exposure</mat-icon>
                  <mat-card-content>
                    <p style="text-align: center;"> ML</p>
                  </mat-card-content>
                </mat-card>
              </a>

            </div>
          </div>
        </div>
        <br />

        <div class="row">
          <div class="col-md-12">
            <mat-card id="test-content-holder">
              <div class="container-fluid">
                <div class="bg-warning mt-2 p-2 text-center text-white" *ngIf="errorMessage != null">
                  Warning: {{errorMessage}}
                </div>
                <div class="row">
                  <router-outlet></router-outlet>
                </div>
              </div>

            </mat-card>
          </div>
        </div>

        <br />


      </div>



    </div>

    <div class="col-md-2 bg-info">
      <div class="card m-1 p-1 bg-light">
        <img class="card-img-top" src="../../assets/crypto_com.JPG" alt="Card image cap">
        <div class="card-body">
          <div class="row">
            <div class="col-md-10">
              <h5 class="card-title">Interested in staking crypto coin?</h5>
            </div>

          </div>
          <p class="card-text">Join crypto.com exchange and stake cro. Use referal code esqk2y962e to get bonus.
            Please invest responsibly</p>
          <div class="row">
            <div class="col-md-6"><a href="https://crypto.com/exch/esqk2y962e" target="_blank"
                class="btn btn-primary">More Detais</a> </div>
          </div>
        </div>
      </div>
    </div>

  </div>



  <div class="row">
    <div class="container-fluid">
      <app-footer></app-footer>
    </div>
  </div>


</div>
