
.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.subject-card{
  align-self: stretch;
  width: 120px;
  margin: 2px;
  cursor: pointer;
}

.live-card{
  width: 100%;
}

.mat-icon{
 font-size: 30px;
}

.round-header-image {

  background-size: cover;
}


.example-icon{
  float: left;
}


#test-content-holder {
  min-height: 350px;
}

.selected {
  background-color: blue;
  box-shadow: .25em .25em .5em .5em rgba( 0.3, 0, 0, 0.3);
}
