  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

      <a class="navbar-brand">JEWELLERY STORE</a>
      <button class="navbar-toggler" type="button" (click)="toogleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpen}">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">About Us</a>
          <a class="nav-link" href="#">My Account</a>
        </div>
        <div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <form class="d-flex">
          <input #searchValue class="form-control me-2" type="search" placeholder="try Stadium" aria-label="Search">
          <button class="btn btn-outline-success" (click)="search(searchValue.value)">Search</button>
        </form>
        <div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <cart-summary></cart-summary>
      </div>
    </div>

  </nav>
