<div class="container-fluid">







  <div class="row">
    <div class="col-sm-1"></div>
    <div class="form-group col-sm-10 text-center">
      <h2>Our <i class="fa fa-lock"></i> Secure Payment System is Provided By Stripe</h2>
    </div>
    <div class="form-group col-sm-1"></div>
  </div>


  <div class="row">
    <div class="col-sm-6">
      <div class="container-sm my-3 p-2 bg-success text-white border rounded">
        <form novalidate #form="ngForm" (ngSubmit)="subscribe(monthlypriceId)">

          <div class="form-row">
            <div class="form-group col-sm-1"></div>
            <div class="form-group col-sm-10 text-center">

              <h2>Only $4 NZD a month</h2>

            </div>
            <div class="form-group col-sm-1"></div>
          </div>
          <div class="form-row">

            <div class="form-group col-sm-12">
              <ul>
                <li>Give you access to all Premium and non Premium articles <i class="fa fa-check"></i></li>
                <br />
                <li>Can Practice all Premium and non Premium exercises as many time as you want! <i
                    class="fa fa-check"></i></li>
                <br />
                <li>Cancel anytime!</li>
              </ul>
            </div>

          </div>
          <div class="text-center">
            <button class="btn btn-primary m-1" type="submit">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="container-sm my-3 p-2 bg-success text-white border rounded">
        <form novalidate #form="ngForm" (ngSubmit)="subscribe(threemonthpriceId)">
          <div class="form-row">
            <div class="form-group col-sm-1"></div>
            <div class="form-group col-sm-10 text-center">
              <h2>Only $10 NZD for three months</h2>
              <s>$12 NZD</s>
            </div>
            <div class="form-group col-sm-1"></div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <ul>
                <li>Give you access to all Premium and non Premium articles <i class="fa fa-check"></i></li>
                <br />
                <li>Can Practice all Premium and non Premium exercises as many time as you want! <i
                    class="fa fa-check"></i></li>
                <br />
                <li>17% OFF! <i class="fa fa-check"></i></li>
                <br />
                <li>Cancel anytime!</li>
              </ul>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-primary m-1" type="submit">Subscribe</button>
          </div>
        </form>
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="form-group col-sm-10 text-center">
      <p> We <b>don't</b> store any of your credit card information in our
        hightechdistrict.com Servers.</p>
    </div>
    <div class="form-group col-sm-1"></div>
  </div>




</div>
